In [1]:
import pandas as pd
import numpy as np
from scipy.stats import zscore

In [2]:
# Creating pandas DataFrame
df = pd.DataFrame
col_1 = [1.5, 2.7, 3.3]
col_2 = [5, 6, 7.2]
col_3 = [9, 10.7, 11]
df = pd.DataFrame([col_1,col_2,col_3], columns=[['Math', 'English', 'Science']])
df

  Math English Science
0  1.5     2.7     3.3
1  5.0     6.0     7.2
2  9.0    10.7    11.0

In [3]:
# Taking the z_score of each column with scipy
z_score_df = df.apply(zscore)
z_score_df

       Math   English   Science
0 -1.196642 -1.147459 -1.230012
1 -0.054393 -0.142163  0.010604
2  1.251035  1.289623  1.219409

In [4]:
# Creating a list for the min values of each colum and list for the max values in each column
min_values = []
max_values = []

for x in  z_score_df:
    min_values.append(z_score_df[x].min())
    max_values.append(z_score_df[x].max())
print(min_values)
print(max_values)

[-1.1966422450849266, -1.1474594674897505, -1.2300122215703806]
[1.2510350744069685, 1.2896225873557376, 1.2194086679361529]

In [7]:
# Setting stale for the table


def color_map_values(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    if val in min_values:
        color = 'blue'
    elif val in max_values:
        color = 'red'
    else:
        color = 'black'
    return 'color: % s' % color
  

  
# displaying the DataFrame
z_score_df.style.applymap(color_map_values)